@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
/* Primary */
/* Backgrounds, Texts */
h2, h1 {
  font-family: "Tangerine", cursive;
  color: #801818;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 2.5rem;
}

header {
  margin-bottom: 10px;
}

#content {
  margin-bottom: 2rem;
}

#logoBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#logoBanner h1 {
  font-size: calc(3rem + 2vw);
}

#bannerLogo {
  width: calc(3rem + 2vw);
  min-width: 3.5rem;
  margin-right: 1rem;
}

#imgBanner {
  position: relative;
  width: 100%;
  max-height: 15rem;
}

#bannerImg {
  width: 100%;
  max-height: 15rem;
}

nav {
  background-color: #801818;
  box-shadow: 0px 1px 16px 7px rgba(0, 0, 0, 0.8);
  min-height: 60px;
}
nav #navbarNav .spaLink {
  margin-right: 30px;
}
nav .navbar-collapse {
  align-items: flex-start;
}

@media (min-width: 992px) {
  nav .container-fluid {
    flex-direction: row-reverse;
  }
}
.btn {
  color: rgba(255, 255, 255, 0.7);
  background-color: #a01e1e;
  border-color: #661313;
}

.btn:active {
  color: #ffffff;
  background-color: #661313;
  border-color: #801818;
}

.btn:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #a01e1e;
}

.btn:hover {
  color: #ffffff;
  background-color: #801818;
  border-color: #a01e1e;
}

.openFormBtn {
  background-color: #801818;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(128, 24, 24, 0.2);
  padding: 0px 10px;
  border-radius: 15px;
  font-size: 12px;
  line-height: 12px;
  margin: 5px;
}
.openFormBtn img {
  height: 30px;
  opacity: 0.5;
}
.openFormBtn:active {
  box-shadow: 0 0 0 0;
}
.openFormBtn:hover {
  border-color: #801818;
  background-color: #777777;
  color: #ffffff;
  transition: 800ms;
}
.openFormBtn:hover img {
  opacity: 1;
  transition: 800ms;
}

.stopScroll {
  height: 100%;
  overflow: hidden;
}

.popup {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
}

.popupBox {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  max-height: 90vh;
  max-width: 90vw;
  text-align: center;
  overflow: auto;
}

.close {
  color: #661313;
  text-align: right;
  font-size: 30px;
  position: relative;
  top: -15px;
  right: -15px;
  line-height: 15px;
}
.close span {
  cursor: pointer;
}

form input, form textarea {
  border-color: #801818 !important;
}
form input:focus, form textarea:focus {
  box-shadow: 0 0 6px 0.25rem rgba(128, 24, 24, 0.2) !important;
  border-color: rgba(128, 24, 24, 0.2) !important;
}
form .input-group {
  margin-bottom: 8px;
}
form .input-group-text {
  color: rgba(255, 255, 255, 0.7);
  background-color: #801818;
  border-color: #661313;
  border-radius: 0.375rem 0 0 0.375rem;
}

footer {
  margin-top: auto;
  background-color: #801818;
  box-shadow: 0px 1px 16px 7px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
footer a {
  opacity: 0.7;
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
}
footer a:hover {
  opacity: 1;
  transition: 800ms;
}
footer img {
  width: 20px;
}

#wip {
  text-align: center;
  width: 90%;
  margin: auto;
  color: #661313;
}

/*# sourceMappingURL=general.css.map */
