@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
/* Screen breakpoints as min-width (mobile-first) */
/* ---------------------------------
 * ---------- Colorscheme ----------
 * --------------------------------- */
/* Primary */
/* Backgrounds, Texts */
/* ---------------------------------
 * ------------- Fonts -------------
 * --------------------------------- */
h2, h1 {
  font-family: "Tangerine", cursive;
  color: #dd9968;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 2.5rem;
}

#content {
  margin-bottom: 2rem;
  margin-top: 10px;
}

.topRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
}
.topRow button {
  align-self: center;
}

header {
  margin-bottom: 10px;
}

#logoBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#logoBanner h1 {
  font-size: calc(3rem + 2vw);
}

#bannerLogo {
  width: calc(3rem + 2vw);
  min-width: 3.5rem;
  margin-right: 1rem;
}

#imgBanner {
  position: relative;
  width: 100%;
  max-height: 15rem;
}

#bannerImg {
  width: 100%;
  max-height: 15rem;
}

#navbar {
  background-color: #dd9968;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.8);
  min-height: 60px;
}
#navbar #navbarNav .spaLink {
  margin-right: 30px;
}
#navbar .navbar-collapse {
  align-items: flex-start;
}
#navbar #invertedLogo {
  height: 60px;
  margin: -8px 5px -8px 0;
}

@media (min-width: 992px) {
  #navbar #navStart {
    order: 1;
  }
  #navbar #loginNav {
    order: 3;
  }
  #navbar #navbarNav {
    order: 2;
  }
}
.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.stickyPadding {
  padding-top: 80px;
}

button img {
  height: 30px;
  opacity: 0.5;
}
button:hover img {
  opacity: 1;
}

.btn {
  color: rgba(255, 255, 255, 0.7);
  background-color: #edb977;
  border-color: #ad6231;
}
.btn:active {
  color: #ffffff;
  background-color: #ad6231;
  border-color: #dd9968;
}
.btn:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #edb977;
}
.btn:hover {
  color: #ffffff;
  background-color: #dd9968;
  border-color: #edb977;
}

.crudBtn {
  background-color: #dd9968;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(221, 153, 104, 0.2);
  padding: 0px 10px;
  border-radius: 15px;
  font-size: 12px;
  margin: 5px;
}
.crudBtn:active {
  box-shadow: 0 0 0 0;
}
.crudBtn:hover {
  border-color: #dd9968;
  background-color: #ad6231;
  color: #ffffff;
  transition: 800ms;
}
.crudBtn:hover img {
  transition: 800ms;
}

.crudBox {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.crudBox .crudBtn {
  margin-right: 10px;
}

.stopScroll {
  height: 100%;
  overflow: hidden;
}

#popup {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
}

.popupBox {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  max-height: 90vh;
  max-width: 90vw;
  text-align: center;
  overflow: auto;
}

.close {
  color: #ad6231;
  text-align: right;
  font-size: 30px;
  position: relative;
  top: -15px;
  right: -15px;
  line-height: 15px;
  cursor: pointer;
}

.error {
  display: none;
  padding: 5px;
  margin-bottom: 5px;
  color: #ad6231;
  border: 1px solid #ad6231;
}

form textarea {
  height: 200px;
}
form input, form textarea, form select {
  border-color: #dd9968 !important;
}
form input:focus, form textarea:focus, form select:focus {
  box-shadow: 0 0 6px 0.25rem rgba(221, 153, 104, 0.2) !important;
  border-color: rgba(221, 153, 104, 0.2) !important;
}
form .input-group {
  margin-bottom: 8px;
}
form .input-group-text {
  color: rgba(255, 255, 255, 0.7);
  background-color: #dd9968;
  border-color: #ad6231;
  border-radius: 0.375rem 0 0 0.375rem;
}

#formBox form {
  max-width: 800px;
}

footer {
  margin-top: auto;
  background-color: #dd9968;
  box-shadow: 0px 1px 16px 2px rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 10px 60px;
  color: #ffffff;
}
footer #socialMediaList {
  font-family: "Gruppo", sans-serif;
}
footer #socialMediaList h6 {
  font-family: "Arsenal SC", sans-serif;
  font-weight: bold;
}
footer ul {
  list-style: none;
}
footer a {
  opacity: 0.7;
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
}
footer a:hover {
  opacity: 1;
  transition: 800ms;
}
footer img {
  width: 20px;
}

#wip {
  text-align: center;
  width: 90%;
  margin: auto;
  color: #ad6231;
}

/*# sourceMappingURL=general.css.map */
