$black: #000000
$white: #ffffff

$grey: #777777
$grey-dark: #5f5f5f
$grey-light: #a0a0a0
    

$terracotta: #e2725b
$terracotta-dark: #d74426
$terracotta-light: #eeac9e

$falured: #801818
$falured-dark: #661313
$falured-light: #a01e1e
