@use "shared"
@use "sass:map"

.about
    display: flex
    flex-wrap: wrap
    margin-bottom: 40px
    img
        width: 300px
        height: 100%
        margin: 10px auto
    
#abouts
    :nth-child(even)
        flex-direction: row-reverse

@media (min-width: map.get(shared.$breakpoints, md) )
    .about
        flex-wrap: nowrap
        img 
            margin: 10px
