@use 'colors'

#contact
    margin-bottom: 40px

#contactForm
    .input-group
        margin-bottom: 5px
    .contactInput
        width: 7rem
    .input-group-text
        color: colors.$white-70
        background-color: colors.$falured
        border-color: colors.$falured-dark
    textarea
        height: 200px

#gmap_iframe
    height: 400px
    width: 100%
