@use "shared"
@use "sass:map"


%galleryBtnColor
    color: shared.$falured
    background-color: shared.$white
    border-color: shared.$falured-20

%galleryBoxshadow
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem shared.$falured-20

%galleryImgFrame
    border: 1px solid shared.$falured
    box-shadow: 0 4px 8px 0 shared.$black, 0 6px 20px 0 shared.$black-20
   
#galleryNav
    margin-bottom: 10px
        
.galleryBtn
    border-radius: 15px
    font-size: 12px
    line-height: 12px
    margin: 5px
    &:focus
        @extend %galleryBoxshadow
    &:hover
        @extend %galleryBtnColor

.activeBtn
    @extend %galleryBtnColor
    @extend %galleryBoxshadow

#galleryBtns
    text-align: right

#galleryBox
    display: flex
    flex-flow: wrap
    justify-content: space-around
    align-items: center
    position: relative
    img
        height: 250px
        position: relative
        max-width: 100%
        margin: 10px 5px
        @extend %galleryImgFrame

#newAlbumForm
    .input-group-text
        width: 9rem

#popupImage 
    #selectedImg
        max-width: 100%
        max-height: 85%
        @extend %galleryImgFrame
    p
        margin: 10px 0 5px 0
    hr
        margin: 0
    #imageDescription
        margin: 10px 0
        input
            width: 100%
            text-align: center

#addImages
    width: 90vw
    max-width: 500px

#addImgForm
    position: relative
    #ImgBtnBox
        display: flex
        justify-content: space-between


#addDescForm
    color: shared.$falured-dark
    overflow: auto
    max-width: 100% !important
    #hint
        text-align: left
    #cardBox
        display: flex
        flex-wrap: wrap
        justify-content: center
    .imageCard
        border: 2px dotted shared.$falured
        padding: 5px
        margin-bottom: 10px
        width: 500px
        img
            max-width: 200px
            max-height: 150px
            margin: 0 0 10px 0
            @extend %galleryImgFrame
        .input-group
            margin: 0
        .counters
            text-align: right

@media (min-width: map.get(shared.$breakpoints, md) )
    .imageCard
        margin: 5px
        display: flex
        align-items: center
        width: 100%
        img
            margin: 0 10px 5px 0 !important

@media (min-width: map.get(shared.$breakpoints, xl) )
    #cardBox
        justify-content: space-evenly !important
