@use 'colors'

%galleryBtnColor
    color: colors.$falured
    background-color: colors.$white
    border-color: colors.$falured-20

%galleryBoxshadow
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem colors.$falured-20

%galleryImgFrame
    border: 1px solid colors.$falured
    box-shadow: 0 4px 8px 0 colors.$black, 0 6px 20px 0 colors.$black-20

%addBtns
    background-color: colors.$falured
    color: colors.$white-70
    border-color: colors.$falured-20
    padding: 0px 10px
    img
        height: 30px
        opacity: .5
    &:active
        box-shadow: 0 0 0 0
    &:hover
        border-color: colors.$falured
        background-color: colors.$grey
        color: colors.$white
        transition: 800ms
        img
            opacity: 1
            transition: 800ms
   

#galleryNav
    margin-bottom: 10px

#albumBtn
    @extend %addBtns
        
.galleryBtn
    border-radius: 15px
    font-size: 12px
    line-height: 12px
    margin: 5px
    &:focus
        @extend %galleryBoxshadow
    &:hover
        @extend %galleryBtnColor

.activeBtn
    @extend %galleryBtnColor
    @extend %galleryBoxshadow

#addImgBox
    text-align: right
#imgBtn
    @extend %addBtns

#gallery
    display: flex
    flex-flow: wrap
    justify-content: space-around
    align-items: center
    position: relative
    img
        height: 250px
        position: relative
        max-width: 100%
        margin: 10px 5px
        @extend %galleryImgFrame
        

.stopScroll
    height: 100%
    overflow: hidden

#galleryPopup
    display: none
    flex-flow: column
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: colors.$black-90
    z-index: 99999

.popupBox
    background-color: colors.$white
    padding: 25px
    border-radius: 20px
    max-height: 90vh
    max-width: 90vw
    text-align: center

#close
    color: colors.$falured-dark
    text-align: right
    font-size: 30px
    position: relative
    top: -15px
    right: -15px
    line-height: 15px
    span
        cursor: pointer 

#newAlbumForm
    .input-group
        margin-bottom: 5px
    .input-group-text
        color: colors.$white-70
        background-color: colors.$falured
        border-color: colors.$falured-dark
        width: 10rem

#popupImage 

    img
        max-width: 100%
        max-height: 85%
        @extend %galleryImgFrame
        
