@use "shared"
@use "sass:map"

// ------------------------------------------
// --------- All-horses page styling --------
// ------------------------------------------
#cardContainer
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    padding: 0px 50px
    
.card
    color: shared.$black
    text-decoration: none
    width: 230px
    margin: 10px
    border-color: shared.$primary-20
    img
        width: 100%
    &:hover
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
        transition: 1s
    .cardBody
        text-align: center
        padding: .5rem 0 0 0

.profileCard
    img
        height: 340px

#newHorseForm
    .input-group-text
        width: 7rem

// ------------------------------------------
// ------- Horse-specific page styling ------
// ------------------------------------------

#horseContainer
    margin: 10px 0
    position: relative
    min-height: 390px
    .btn
        height: 36px
        line-height: 31px

#btnBox
    hr
        margin-bottom: 0

#carouselContainer
    display: flex
    justify-content: center
    margin: 10px auto
    width: 100%
    max-width: 700px
    aspect-ratio: 16/9
    #carouselIndicators
        width: 100%
    .carousel-inner
        height: 100%
        display: flex
        align-items: center
        .carousel-item
            img
                max-width: 100%
                max-height: 100%
                margin: auto
    
@media screen and ( min-width: map.get(shared.$breakpoints, lg) )
    #carouselContainer
        float: left
        margin: 10px 10px 2px 0
        width: 600px

@media screen and ( min-width: map.get(shared.$breakpoints, xxl) )
    #carouselContainer
        width: 700px
    
#imgDeleteBox
    margin-top: 30px

#imgDeletionContainer
    display: flex
    flex-wrap: wrap

.deleteCard
    width: 280px
    display: flex
    align-items: flex-start

.confirmBtns
    display: flex
    justify-content: space-between
