@use "shared"
@use "sass:map"

%wideFormLabel
    width: 9rem

#loginBox
  width: 100%
  max-width: 500px

  #loginForm
      .input-group-text
          width: 6rem
          
  #forgotPwdLink
      margin-top: -8px
      text-align: right
      font-size: 12px
      padding-right: 10px
      a
          color: shared.$black-50
          text-decoration: none
          &:hover
              text-decoration: underline

#forgotPwdBox
    display: none
    max-width: 500px
    .input-group-text
        @extend %wideFormLabel
